NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
# Database / collections used in OnboardingGate
NEXT_PUBLIC_APPWRITE_DB_ID=
NEXT_PUBLIC_APPWRITE_VENDORS_COL=
NEXT_PUBLIC_APPWRITE_USERPROFILES_COL=
APPWRITE_API_KEY=
